
<h2>Edie User</h2>
<form>
  <div class="mb-3">
    <label for="email1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <i>(leav blank if you do't like change)</i>
    <input type="password" class="form-control" id="password1">
  </div>
  <div class="mb-3">
    <i>6 characters minimum</i><br>
    <label for="password_confirmation" class="form-label">Password Confirmation</label>
    <input type="password_confirmation" class="form-control" id="password2">
  </div>
  
  <button type="submit" class="btn btn-primary">Update</button>
</form>
<h2>Cancel My account</h2>
<p>unhappy?</P>
<form>
  <button type="submit" class="btn btn-primary">Cancel my account</button><br>
  <br><button type="submit" class="btn btn-primary">Back</button>